
$mint: #E6EFE9;
$lightAccent: #00000070;
$primary: #1976D2;

:root {
  background-color: $mint;
}

.linkedin-link {
  color: $primary;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

// Give input groups border and margin
.input-group {
  background-color: whitesmoke;
  padding: 10px;
  .input-slider {
    border-bottom: 1px solid $lightAccent;
    margin-top: 20px;
  }
}

// Stop slider from overflowing talk container
.css-1hskriy {
  width: auto !important;
}