$mint: #e6efe9;
$lightAccent: #00000070;
$primary: #1976d2;

:root {
  background-color: $mint;
}

// This class sets the styling for the animated.div from react spring (PopUp.js file)
.animated-div {
  position: relative;
  max-height: 90%;
  max-width: 90%;
}

// Stop slider from overflowing talk container
.css-1hskriy {
  width: auto !important;
}

// Give input groups border and margin
.input-group {
  background-color: whitesmoke;
  padding: 10px;
  .input-slider {
    border-bottom: 1px solid $lightAccent;
    margin-top: 20px;
  }
}

.linkedin-link {
  color: $primary;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
